<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<style>
  
</style>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="theme/frontend/css/bootstrap.min.css">
    <link rel="stylesheet" href="theme/frontend/scss/style_home.css">
    <link rel="stylesheet" href="theme/frontend/css/swiper-bundle.css">
    <link rel="stylesheet" href="theme/frontend/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="theme/frontend/fonts/fontawesome-free-5.15.3-web/css/all.min.css">
    <link rel="stylesheet" href="theme/frontend/scss/style_danh_muc.css">
    <link rel="stylesheet" href="theme/frontend/scss/style_chi_tiet.css">
  </head>
  <body>
    <section class="header">
      <div class="header-top">
        <div class="container pt-4 pb-1 text-center">      
          <img src="theme/frontend/images/logo.png"  alt="anh logo" class="img_logo pb-3">
        </div>
      </div>
        <!------------------------menu--------------------->
        <div class="container d-flex align-center justify-content-center">
          <div class="menu_wrapper">
              <ul>
                  <li>
                      <a href="" title=""><span>MESSAGEBAY</span></a>
                      <ul>
                          <li>
                              <a href="" title="">ĐẲNG CẤP</a>
                              <ul>
                                  <li>
                                      <a href="" title="">01</a>
                                  </li>
                                  <li><a href="" title="">02</a></li>
                                  <li><a href="" title="">03</a></li>
                              </ul>
                          </li>
                          <li><a href="" title=""><spna>VIP</spna></a></li>
                          <li><a href="" title="">THƯỜNG</a></li>
                      </ul>
                  </li>
                  <li><a href="" title=""><span>DIỄN ĐÀN</span></a></li>
                  <li><a href="" title=""><span>TIN TỨC</span></a></li>
                  <li><a href="" title=""><span>COUPON</span></a></li>
                  <li><a href="" title=""><span>LIÊN HỆ</span></a></li>
              </ul>
          </div>
          <div id="button_menu" class="d-lg-none justify-content-end">
              <div id="pencet">
                  <span></span>
                  <span></span>
                  <span></span>
              </div>
          </div>
      </div>
    </section>

    <section class="content">
        <div class="container mt-3">
            <div class="row">
                <div class="col-12 col-sm-8 col-lg-9 pb-4">
                    <div class="justify-content-between d-flex fs-1 content1">       
                            <p style="font-family:'font_strong';" >Spa uy tín</p>
                            <div class="content_tab">
                              <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a href="#tab1" data-toggle="tab" class="nav-link active">MIỀN BẮC</a>
                                </li>
                            
                                <li class="nav-item"> <a href="#tab2" data-toggle="tab" class="nav-link">MIỀN TRUNG</a>
                                </li>
                            
                                <li class="nav-item">
                                    <a href="#tab3" data-toggle="tab" class="nav-link">MIỀN NAM</a> 
                                </li> 
                              </ul> 
                             
                            </div>
                          
                    </div>
                    <div class="tab-content"> 
                        <div class="tab-pane active container-fluid" id="tab1" onclick="active_tab_pane()">
                           <div class="row">
                                <div class="col-6 col-sm-6 col-md-6 col-lg-4 py-3 pl-2">
                                    <div class="content_background">
                                        <div class="row">
                                            <div class="col-12">
                                            <a><img src="theme/frontend/images/1.jpg" alt="" class="content_img"></a>
                                            </div>
                                            <div class="col-12">
                                                <div class="content_detail">
                                                    <div class="content_detail_top d-flex px-2 pt-2">
                                                        <div class="content_detail_title">SPA LÂM ANH</div>
                                                        <p class="content_detail_top_address px-2 font-italic">Bình Dương</p>
                                                    </div>
                                                    <div class="rate px-2">
                                                        <span class="rating-box" data-action="http://127.0.0.1:5501/index.html"> 
                                                            <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="1"></i> 
                                                            <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="2"></i> 
                                                            <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="3"></i> 
                                                            <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="4"></i> 
                                                            <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="5"></i> 
                                                            <!-- <span style="width: 80%;" data-width="100%"> <i class="star fa fa-star"></i> <i class="star fa fa-star"></i> <i class="star fa fa-star"></i> <i class="star fa fa-star"></i> <i class="star fa fa-star"></i> </span>  -->
                                                        </span>
                                                    </div>                      
                                                    <p class="content_detail_top_address px-2">Nổi bật trên không gian yên tĩnh , TRÀNG AN LUXURY là một trong những khách sạn nổi bật nhất của</p>
                                                </div>  
                                            </div>
                                        </div>
                                   </div>
                                </div>

                                <div class="col-6 col-sm-6 col-md-6 col-lg-4 py-3 pl-2">
                                  <div class="content_background">
                                      <div class="row">
                                          <div class="col-12">
                                          <a><img src="theme/frontend/images/1.jpg" alt="" class="content_img"></a>
                                          </div>
                                          <div class="col-12">
                                              <div class="content_detail">
                                                  <div class="content_detail_top d-flex px-2 pt-2">
                                                      <div class="content_detail_title">SPA LÂM ANH</div>
                                                      <p class="content_detail_top_address px-2 font-italic">Bình Dương</p>
                                                  </div>
                                                  <div class="rate px-2">
                                                      <span class="rating-box" data-action="http://127.0.0.1:5501/index.html"> 
                                                          <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="1"></i> 
                                                          <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="2"></i> 
                                                          <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="3"></i> 
                                                          <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="4"></i> 
                                                          <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="5"></i> 
                                                          <!-- <span style="width: 80%;" data-width="100%"> <i class="star fa fa-star"></i> <i class="star fa fa-star"></i> <i class="star fa fa-star"></i> <i class="star fa fa-star"></i> <i class="star fa fa-star"></i> </span>  -->
                                                      </span>
                                                  </div>                      
                                                  <p class="content_detail_top_address px-2">Nổi bật trên không gian yên tĩnh , TRÀNG AN LUXURY là một trong những khách sạn nổi bật nhất của</p>
                                              </div>  
                                          </div>
                                      </div>
                                 </div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-4 py-3 pl-2">
                                  <div class="content_background">
                                      <div class="row">
                                          <div class="col-12">
                                          <a><img src="theme/frontend/images/1.jpg" alt="" class="content_img"></a>
                                          </div>
                                          <div class="col-12">
                                              <div class="content_detail">
                                                  <div class="content_detail_top d-flex px-2 pt-2">
                                                      <div class="content_detail_title">SPA LÂM ANH</div>
                                                      <p class="content_detail_top_address px-2 font-italic">Bình Dương</p>
                                                  </div>
                                                  <div class="rate px-2">
                                                      <span class="rating-box" data-action="http://127.0.0.1:5501/index.html"> 
                                                          <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="1"></i> 
                                                          <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="2"></i> 
                                                          <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="3"></i> 
                                                          <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="4"></i> 
                                                          <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="5"></i> 
                                                          <!-- <span style="width: 80%;" data-width="100%"> <i class="star fa fa-star"></i> <i class="star fa fa-star"></i> <i class="star fa fa-star"></i> <i class="star fa fa-star"></i> <i class="star fa fa-star"></i> </span>  -->
                                                      </span>
                                                  </div>                      
                                                  <p class="content_detail_top_address px-2">Nổi bật trên không gian yên tĩnh , TRÀNG AN LUXURY là một trong những khách sạn nổi bật nhất của</p>
                                              </div>  
                                          </div>
                                      </div>
                                 </div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-4 py-3 pl-2">
                                  <div class="content_background">
                                      <div class="row">
                                          <div class="col-12">
                                          <a><img src="theme/frontend/images/1.jpg" alt="" class="content_img"></a>
                                          </div>
                                          <div class="col-12">
                                              <div class="content_detail">
                                                  <div class="content_detail_top d-flex px-2 pt-2">
                                                      <div class="content_detail_title">SPA LÂM ANH</div>
                                                      <p class="content_detail_top_address px-2 font-italic">Bình Dương</p>
                                                  </div>
                                                  <div class="rate px-2">
                                                      <span class="rating-box" data-action="http://127.0.0.1:5501/index.html"> 
                                                          <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="1"></i> 
                                                          <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="2"></i> 
                                                          <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="3"></i> 
                                                          <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="4"></i> 
                                                          <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="5"></i> 
                                                          <!-- <span style="width: 80%;" data-width="100%"> <i class="star fa fa-star"></i> <i class="star fa fa-star"></i> <i class="star fa fa-star"></i> <i class="star fa fa-star"></i> <i class="star fa fa-star"></i> </span>  -->
                                                      </span>
                                                  </div>                      
                                                  <p class="content_detail_top_address px-2">Nổi bật trên không gian yên tĩnh , TRÀNG AN LUXURY là một trong những khách sạn nổi bật nhất của</p>
                                              </div>  
                                          </div>
                                      </div>
                                 </div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-4 py-3 pl-2">
                                  <div class="content_background">
                                      <div class="row">
                                          <div class="col-12">
                                          <a><img src="theme/frontend/images/1.jpg" alt="" class="content_img"></a>
                                          </div>
                                          <div class="col-12">
                                              <div class="content_detail">
                                                  <div class="content_detail_top d-flex px-2 pt-2">
                                                      <div class="content_detail_title">SPA LÂM ANH</div>
                                                      <p class="content_detail_top_address px-2 font-italic">Bình Dương</p>
                                                  </div>
                                                  <div class="rate px-2">
                                                      <span class="rating-box" data-action="http://127.0.0.1:5501/index.html"> 
                                                          <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="1"></i> 
                                                          <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="2"></i> 
                                                          <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="3"></i> 
                                                          <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="4"></i> 
                                                          <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="5"></i> 
                                                          <!-- <span style="width: 80%;" data-width="100%"> <i class="star fa fa-star"></i> <i class="star fa fa-star"></i> <i class="star fa fa-star"></i> <i class="star fa fa-star"></i> <i class="star fa fa-star"></i> </span>  -->
                                                      </span>
                                                  </div>                      
                                                  <p class="content_detail_top_address px-2">Nổi bật trên không gian yên tĩnh , TRÀNG AN LUXURY là một trong những khách sạn nổi bật nhất của</p>
                                              </div>  
                                          </div>
                                      </div>
                                 </div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-4 py-3 pl-2">
                                  <div class="content_background">
                                      <div class="row">
                                          <div class="col-12">
                                          <a><img src="theme/frontend/images/1.jpg" alt="" class="content_img"></a>
                                          </div>
                                          <div class="col-12">
                                              <div class="content_detail">
                                                  <div class="content_detail_top d-flex px-2 pt-2">
                                                      <div class="content_detail_title">SPA LÂM ANH</div>
                                                      <p class="content_detail_top_address px-2 font-italic">Bình Dương</p>
                                                  </div>
                                                  <div class="rate px-2">
                                                      <span class="rating-box" data-action="http://127.0.0.1:5501/index.html"> 
                                                          <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="1"></i> 
                                                          <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="2"></i> 
                                                          <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="3"></i> 
                                                          <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="4"></i> 
                                                          <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="5"></i> 
                                                          <!-- <span style="width: 80%;" data-width="100%"> <i class="star fa fa-star"></i> <i class="star fa fa-star"></i> <i class="star fa fa-star"></i> <i class="star fa fa-star"></i> <i class="star fa fa-star"></i> </span>  -->
                                                      </span>
                                                  </div>                      
                                                  <p class="content_detail_top_address px-2">Nổi bật trên không gian yên tĩnh , TRÀNG AN LUXURY là một trong những khách sạn nổi bật nhất của</p>
                                              </div>  
                                          </div>
                                      </div>
                                 </div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-4 py-3 pl-2">
                                  <div class="content_background">
                                      <div class="row">
                                          <div class="col-12">
                                          <a><img src="theme/frontend/images/1.jpg" alt="" class="content_img"></a>
                                          </div>
                                          <div class="col-12">
                                              <div class="content_detail">
                                                  <div class="content_detail_top d-flex px-2 pt-2">
                                                      <div class="content_detail_title">SPA LÂM ANH</div>
                                                      <p class="content_detail_top_address px-2 font-italic">Bình Dương</p>
                                                  </div>
                                                  <div class="rate px-2">
                                                      <span class="rating-box" data-action="http://127.0.0.1:5501/index.html"> 
                                                          <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="1"></i> 
                                                          <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="2"></i> 
                                                          <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="3"></i> 
                                                          <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="4"></i> 
                                                          <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="5"></i> 
                                                          <!-- <span style="width: 80%;" data-width="100%"> <i class="star fa fa-star"></i> <i class="star fa fa-star"></i> <i class="star fa fa-star"></i> <i class="star fa fa-star"></i> <i class="star fa fa-star"></i> </span>  -->
                                                      </span>
                                                  </div>                      
                                                  <p class="content_detail_top_address px-2">Nổi bật trên không gian yên tĩnh , TRÀNG AN LUXURY là một trong những khách sạn nổi bật nhất của</p>
                                              </div>  
                                          </div>
                                      </div>
                                 </div>
                              </div>

                              <div class="col-6 col-sm-6 col-md-6 col-lg-4 py-3 pl-2">
                                <div class="content_background">
                                    <div class="row">
                                        <div class="col-12">
                                        <a><img src="theme/frontend/images/1.jpg" alt="" class="content_img"></a>
                                        </div>
                                        <div class="col-12">
                                            <div class="content_detail">
                                                <div class="content_detail_top d-flex px-2 pt-2">
                                                    <div class="content_detail_title">SPA LÂM ANH</div>
                                                    <p class="content_detail_top_address px-2 font-italic">Bình Dương</p>
                                                </div>
                                                <div class="rate px-2">
                                                    <span class="rating-box" data-action="http://127.0.0.1:5501/index.html"> 
                                                        <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="1"></i> 
                                                        <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="2"></i> 
                                                        <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="3"></i> 
                                                        <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="4"></i> 
                                                        <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="5"></i> 
                                                        <!-- <span style="width: 80%;" data-width="100%"> <i class="star fa fa-star"></i> <i class="star fa fa-star"></i> <i class="star fa fa-star"></i> <i class="star fa fa-star"></i> <i class="star fa fa-star"></i> </span>  -->
                                                    </span>
                                                </div>                      
                                                <p class="content_detail_top_address px-2">Nổi bật trên không gian yên tĩnh , TRÀNG AN LUXURY là một trong những khách sạn nổi bật nhất của</p>
                                            </div>  
                                        </div>
                                    </div>
                               </div>
                              </div>
                              <div class="col-6 col-sm-6 col-md-6 col-lg-4 py-3 pl-2">
                                <div class="content_background">
                                    <div class="row">
                                        <div class="col-12">
                                        <a><img src="theme/frontend/images/1.jpg" alt="" class="content_img"></a>
                                        </div>
                                        <div class="col-12">
                                            <div class="content_detail">
                                                <div class="content_detail_top d-flex px-2 pt-2">
                                                    <div class="content_detail_title">SPA LÂM ANH</div>
                                                    <p class="content_detail_top_address px-2 font-italic">Bình Dương</p>
                                                </div>
                                                <div class="rate px-2">
                                                    <span class="rating-box" data-action="http://127.0.0.1:5501/index.html"> 
                                                        <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="1"></i> 
                                                        <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="2"></i> 
                                                        <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="3"></i> 
                                                        <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="4"></i> 
                                                        <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="5"></i> 
                                                        <!-- <span style="width: 80%;" data-width="100%"> <i class="star fa fa-star"></i> <i class="star fa fa-star"></i> <i class="star fa fa-star"></i> <i class="star fa fa-star"></i> <i class="star fa fa-star"></i> </span>  -->
                                                    </span>
                                                </div>                      
                                                <p class="content_detail_top_address px-2">Nổi bật trên không gian yên tĩnh , TRÀNG AN LUXURY là một trong những khách sạn nổi bật nhất của</p>
                                            </div>  
                                        </div>
                                    </div>
                               </div>
                              </div>
                          
                           </div>
                        </div>
                    <div class="tab-pane container fade" id="tab2" onclick="active_tab_pane()"> <p>Thử thay đổi gì đó khi chuyển tab.</p></div> 
                    <div class="tab-pane container fade" id="tab3" onclick="active_tab_pane()"> </p>Thử thay đổi gì đó khi chuyển tab.</p></div> 
                    </div>
                </div>
                <div class="col-12 col-sm-4 col-lg-3 pb-4">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="search">
                        <div class="row">
                          <div class="col-12">
                            <form action="" method="" class="form__search" style="text-align:-webkit-center;">
                              <div class="search__title ml-1 mt-1 mr-1" >
                                  TÌM KIẾM
                              </div>
                              <div class="row">
                                <div class="col-md-12">
                                  <div class="search__key">
                                    <label for="validationDefault01" class="form-label fs-3" style="color: #ffb628;">Từ khóa</label>
                                    <input type="text" class="form-control" id="validationDefault01" style="height:35px" value="Từ khóa..." required> 
                                  </div>
                                </div>
                                <div class="col-md-12">
                                  <div class="search__key">
                                    <label for="validationDefault01" class="form-label" style="color: #ffb628; ">Thành phố</label>
                                    <select class="form-select" id="validationDefault04" required style="display: block; width: 100%; height: 2.5rem;">
                                      <option selected disabled value="">--Chọn điểm đến--</option>
                                      <option>...</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="col-md-12">
                                  <div class="search__bottom">
                                    <div class="search__bottom__rate px-2">
                                      <span class="" style="color: #ffb628; ">Rasting</span>
                                      </br>
                                      <span class="rating-box" data-action="http://127.0.0.1:5501/index.html"> 
                                        <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="1" \></i> 
                                        <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="2"></i> 
                                        <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="3"></i> 
                                        <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="4"></i> 
                                        <i class="star fa fa-star" data-id="12" data-link="nuoc-hoa-nu-charme-queen-eau-de-parfum-100ml" data-score="5"></i> 
                                        <!-- <span style="width: 80%;" data-width="100%"> <i class="star fa fa-star"></i> <i class="star fa fa-star"></i> <i class="star fa fa-star"></i> <i class="star fa fa-star"></i> <i class="star fa fa-star"></i> </span>  -->
                                      </span>
                                    </div>
                                    <div class="search__bottom__btnsearch">
                                      <button type="submit" style="height: 100%;width: 4rem;background: #ffb628;" class="search__bottom__btn"><i class="fas fa-search"></i></button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="row">   
                        <div class="col-6 col-sm-12 col-lg-12 pt-3">
                          <img src="theme/frontend/images/quang_cao1.jpg" class="hd-img">
                        </div>

                        <div class="col-6 col-sm-12 col-lg-12 pt-4">
                          <img src="theme/frontend/images/quang_cao2.jpg" class="hd-img">
                        </div>
                      </div>
                    </div>
                  </div>   
                </div>
            </div>
        </div>

    </section>

    <section class="representative pb-4">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="news_text fw-bold" style="color: #ffb628;font-family:'font_strong';">Spa tiêu biểu</div>
            <a href="" title="" class=""></a>
            <img  src="theme/frontend/images/icon.png " style=" margin: 0 auto" class="" alt="">
          </div>
        </div> 
      </div>
     
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="representative__detail">
              <div class="representative__detail__image">
                  <img src="theme/frontend/images/tieubieuimg_1.jpg">
              </div>
              <div class="representative__detail__text">
              <p class="representative__detail__text_1">Spa LuxuryBoss</p>
                  <i class="representative__detail__text_2">Vũng Tàu</i>
              </div>
            </div>
          </div>
  
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="representative__detail">
              <div class="representative__detail__image">
                  <img src="theme/frontend/images/tieubieuimg_1.jpg">
              </div>
              <div class="representative__detail__text">
              <p class="representative__detail__text_1">Spa LuxuryBoss</p>
                  <i class="representative__detail__text_2">Vũng Tàu</i>
              </div>
            </div>
          </div>
  
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="representative__detail">
              <div class="representative__detail__image">
                  <img src="theme/frontend/images/tieubieuimg_1.jpg">
              </div>
              <div class="representative__detail__text">
                <p class="representative__detail__text_1">Spa LuxuryBoss</p>
                  <i class="representative__detail__text_2">Vũng Tàu</i>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="representative__detail">
              <div class="representative__detail__image">
                  <img src="theme/frontend/images/tieubieuimg_1.jpg">
              </div>
              <div class="representative__detail__text">
              <p class="representative__detail__text_1">Spa LuxuryBoss</p>
                  <i class="representative__detail__text_2">Vũng Tàu</i>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="representative__detail">
              <div class="representative__detail__image">
                  <img src="theme/frontend/images/tieubieuimg_1.jpg">
              </div>
              <div class="representative__detail__text">
              <p class="representative__detail__text_1">Spa LuxuryBoss</p>
                  <i class="representative__detail__text_2">Vũng Tàu</i>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="representative__detail">
              <div class="representative__detail__image">
                  <img src="theme/frontend/images/tieubieuimg_1.jpg">
              </div>
              <div class="representative__detail__text">
              <p class="representative__detail__text_1">Spa LuxuryBoss</p>
                  <i class="representative__detail__text_2">Vũng Tàu</i>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="representative__detail">
              <div class="representative__detail__image">
                  <img src="theme/frontend/images/tieubieuimg_1.jpg">
              </div>
              <div class="representative__detail__text">
              <p class="representative__detail__text_1">Spa LuxuryBoss</p>
                  <i class="representative__detail__text_2">Vũng Tàu</i>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="representative__detail">
              <div class="representative__detail__image">
                  <img src="theme/frontend/images/tieubieuimg_1.jpg">
              </div>
              <div class="representative__detail__text">
              <p class="representative__detail__text_1">Spa LuxuryBoss</p>
                  <i class="representative__detail__text_2">Vũng Tàu</i>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="representative__detail">
              <div class="representative__detail__image">
                  <img src="theme/frontend/images/tieubieuimg_1.jpg">
              </div>
              <div class="representative__detail__text">
                <p class="representative__detail__text_1">Spa LuxuryBoss</p>
                <i class="representative__detail__text_2">Vũng Tàu</i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="news pb-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center pt-5">
            <div class="news_text fw-bold" style="color: #7b0200;font-family:'font_strong';">Tin tức mới nhất</div>
            <img  src="theme/frontend/images/icon1.png " style=" margin: 0 auto" class="" alt="">
          </div>
        </div> 
      </div>
       
        <div class="container">
          <div class="row">
            <div class="col-6 col-sm-6 col-md-4">
              <div class="news--content">
                <div class="news--content__detail">
                  <div class="detail-image">
                    <a><img src="theme/frontend/images/home_new.jpg" class="detail-image__news"></a>
                  </div>
                  <div class="news--content__detail__bottom pb-5">
                    <p class="news--content__detail_text fw-bolder" style="color: #7b0200">NỔI BẬT TRÊN KHÔNG GIAN LÀNG QUÊ YÊN TĨNH</p>
                    <span class="news--content__detail_text_1">là 1 trong những khách sạn mới nhất của Tràng An LUXURY là một trong những khách sạn mới nhất của</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4">
              <div class="news--content">
                <div class="news--content__detail">
                  <div class="detail-image">
                    <a><img src="theme/frontend/images/home_new.jpg" class="detail-image__news"></a>
                  </div>
                  <div class="news--content__detail__bottom pb-5">
                    <p class="news--content__detail_text fw-bolder" style="color: #7b0200">NỔI BẬT TRÊN KHÔNG GIAN LÀNG QUÊ YÊN TĨNH</p>
                    <span class="news--content__detail_text_1">là 1 trong những khách sạn mới nhất của Tràng An LUXURY là một trong những khách sạn mới nhất của</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4">
              <div class="news--content">
                <div class="news--content__detail">
                  <div class="detail-image">
                    <a><img src="theme/frontend/images/home_new.jpg" class="detail-image__news"></a>
                  </div>
                  <div class="news--content__detail__bottom pb-5">
                    <p class="news--content__detail_text fw-bolder" style="color: #7b0200">NỔI BẬT TRÊN KHÔNG GIAN LÀNG QUÊ YÊN TĨNH</p>
                    <span class="news--content__detail_text_1">là 1 trong những khách sạn mới nhất của Tràng An LUXURY là một trong những khách sạn mới nhất của</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-12 col-md-4">
              
            </div>
            <div class="col-sm-12 col-md-4 py-4 ">
              <button type="submit" style="width: 100%;background: transparent;" class="news_btn"><a href="#">XEM TẤT CẢ</a></button>
            </div>
            <div class="col-sm-12 col-md-4">
              
            </div>
          </div>
        </div>
        
      </div>
    </section>
    <section class="introduce">
      <div class="container">
        <div class="row py-4">
          <div class="col-6 col-sm-6 col-md-3">
            <b class="fs-3 fw-bolder">Về hotel68.com</b>
            <ul>
              <li><i class="fas fa-circle"></i><a href="">Trang chủ</a></li>
              <li><i class="fas fa-circle"></i><a href="">Giới thiệu</a></li>
              <li><i class="fas fa-circle"></i><a href="">Điều khoản sử dụng</a></li>
              <li><i class="fas fa-circle"></i><a href="">Thông tin cá nhân</a></li>
              <li><i class="fas fa-circle"></i><a href="">Tin tức công ty</a></li>
              <li><i class="fas fa-circle"></i><a href="">Site map</a></li>
              <li><i class="fas fa-circle"></i><a href="">Hướng dẫn sử dụng</a></li>
              <li><i class="fas fa-circle"></i><a href="">Liên hệ</a></li>
            </ul>
          </div>
          <div class="col-6 col-sm-6 col-md-4">
            <b class="fs-3 fw-bolder">Về hotel68.com</b>
            <ul>
              <li><i class="fas fa-circle"></i><a href="">Trang chủ</a></li>
              <li><i class="fas fa-circle"></i><a href="">Giới thiệu</a></li>
              <li><i class="fas fa-circle"></i><a href="">Điều khoản sử dụng</a></li>
              <li><i class="fas fa-circle"></i><a href="">Thông tin cá nhân</a></li>
              <li><i class="fas fa-circle"></i><a href="">Tin tức công ty</a></li>
              <li><i class="fas fa-circle"></i><a href="">Site map</a></li>
              <li><i class="fas fa-circle"></i><a href="">Hướng dẫn sử dụng</a></li>
              <li><i class="fas fa-circle"></i><a href="">Liên hệ</a></li>
            </ul>
          </div>
          <div class="col-12 col-sm-12 col-md-5">
            <p class="fs-5">Quảng bá khách sạn Việt Nam</p>
            <p class="fs-5">Quảng bá khách sạn Việt Nam</p>
            <p class="fs-5">Quảng bá khách sạn Việt Nam</p>
            <p class="fs-5">Quảng bá khách sạn Việt Nam</p>
            <p class="fs-5">Quảng bá khách sạn Việt Nam</p>
            <p class="fs-5">Quảng bá khách sạn Việt Nam</p>
            <p class="fs-5">Quảng bá khách sạn Việt Nam</p>
          </div>
       </div>
      </div>
    </section>
    <!--  -->
    <footer class="">
      <div class="container text-center">
        <p class="fs-5">Địa chỉ abc Đặng Văn Ngữ,phường Phương Liệt,quận Đống Đa , Hà Nội</p>
        <p class="fs-5">Địa chỉ abc Đặng Văn Ngữ,phường Phương Liệt,quận Đống Đa , Hà Nội</p>
        <p class="fs-5">Địa chỉ abc Đặng Văn Ngữ,phường Phương Liệt,quận Đống Đa , Hà Nội</p>
        <p class="fs-5">Địa chỉ abc Đặng Văn Ngữ,phường Phương Liệt,quận Đống Đa , Hà Nội</p>

      </div>
    </footer>








    <script src="theme/frontend/js/jquery-3.5.1.slim.min.js"></script>
    <script src="theme/frontend/js/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="theme/frontend/js/swiper-bundle.js"></script>
    <script src="theme/frontend/js/swiper-bundle.min.js"></script>
    <script src="theme/frontend/js/bootstrap.bundle.min.js"></script>
    <script src="theme/frontend/js/messagebay.js"></script>
  </body>
</html>